


 
  <ion-grid >

    <ion-row class="kpi-header" align-items-stretch >
      <ion-col>{{title}}</ion-col>
      <ion-col>
        <div class="progress-outer">
          <div class="progress-inner" [style.background]="valueColor" [style.width]="value + '%'">
          </div>
        </div>
      </ion-col>
    </ion-row>


    <ion-row class="kpi-content" [style.color]="valueColor" align-items-stretch >
      <ion-col class="kpi-value">{{value}}<span class="kpi-sign">%</span></ion-col>
    </ion-row>


  </ion-grid>
 


