// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.split-pane-ios.split-pane-visible >.split-pane-side {
    max-width: 180px;
    min-width: 180px;
    border-right: $hairlines-width solid $list-ios-border-color;
}

.split-pane-md.split-pane-visible >.split-pane-side {
    max-width: 180px;
    min-width: 180px;

    border-right: 1px solid $list-md-border-color;
}

.split-pane-wp.split-pane-visible >.split-pane-side {
    max-width: 180px;
    min-width: 180px;

    border-right: 1px solid $list-wp-border-color;
}